 
@import "compass/css3";

:root   {
    --main-bg-color:  #F0F0F0;
    --dark-color: #13232f;
    --lyellow-color: #6ead3a;
    --dwhite-color: #efedef;
    --lgray-color: #ceccce;
    --dgray-color: #4c4947;
    --lblack-color: #222022;
    --text-color: #1a9367;
    --font-type: 'Raleway','Source Sans Pro', 'Arial';
    }

*, *:before, *:after {
  box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
}
body {
    min-height: 100%;
    background-color: var(--dark-color);
    font-family: var(--font-type);
}
header	{
    padding: 0.75em;
    color: #1a9367;
    background-color: var(--dark-color);
    clear: left;
    text-align: left;
    font-size: 30px
}
.main-content   {
    padding: 10px 10px 10px 10px;
}
a   {
    text-decoration:none;
    color: var(--text-color);
    transition:.5s ease;
    }
a:hover {
    color:var(--lyellow-color);
  }
.form {
  background-color: var(--dark-color);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:4px;
  box-shadow:0 4px 10px 4px var(--dark-color);
}
.option-tab-group {
  list-style:none;
  padding:0;
  margin:20px 20px 40px 0;
}
.option-tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 250px;
    list-style:none;
    margin:0 0 40px 0;
}
.column:after {
      content: "";
      display: table;
      clear: both;
}
li {
    padding: 10px;
}
li a {
    display:block;
    text-decoration:none;
    padding:20px 20px 20px 20px;
    margin: 10px 0px 20px 90px;
    background-color: var(--dgray-color);
    opacity: 0.5;
    color:white;
    font-size:18px;
    float:left;
    width:48%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    border-radius: 20px;
    word-wrap: break-word;
}
li a:hover {
      background: var(--text-color);
      opacity: 0.6;
      color:var(--dark-color);
}
.active a {
    background:var(--dark-color);
    color:white;
}
.row{
    height: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:white;
  font-weight:300;
  margin:0 0 40px;
}
h2{
    text-align: center;
    color: var(--lyellow-color);
    font-weight:200;
}
.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:800;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:var(--text-color);
    color:white;
    word-wrap: break-word;
    transition:all.5s ease;
    -webkit-appearance: none;
}
.button:hover, :focus {
    background:var(--dark-color);
  }

.button-block {
    display:block;
    width:96%;
    font-family: var(--font-type);
}
#imageTrust:link {
    color: #1a9e67;
    background-color: transparent;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    }
#imageTrust:visited {
    color: #1a9e67;
    background-color: transparent;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    }
#imageTrust:hover {
    color: #1a9e67;
    background-color: transparent;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    }
#imageTrust:active {
    color: #1a9e67;
    background-color: transparent;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    }
    input[type=text], input[type=password] {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    text-align: center;
        }
.para{
    color: var(--dgray-color);
    font-size: 20px;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0px;
}
