html	{
	height: 100%;
	}
body	{
	min-height: 100%;
	background-color: #F0F0F0;
	font-family: 'Raleway','Source Sans Pro', 'Arial'; 
	}
.container	{
	height: 100%;
	width: 100%;

	}
header	{
	padding: 0.75em;
    	color: white;
    	background-color: black;
    	clear: left;
    	text-align: left;
	}
footer  {
        padding: 0.5em;
        color: white;
        background-color: black;
        clear: left;
        text-align: center;
        }    
nav	{
	height: 100%;
	float: left;
    	max-width: 160px;
    	margin-right: 0px;
	border-right: 1px solid gray;
    	padding: 2em;
	}

nav ul {
    	list-style-type: none;
    	padding: 0;
	}
   
nav ul a {
    	text-decoration: none;
	}
.softwareValidation {
	margin-left: 40px;
    	padding: 4em;
    	overflow: hidden;
	}
.fileDetails {
	margin-left: 0px;
	font-size: 12px;
	font-family: 'monospace','Courier','Courier New';
	color: #111111;
	padding: 1em;
}
button {
	border-radius: 8px;
	width: 200px;
	height: 40px;
	background-color: SlateGray;
}	
