:root   {
        --main-bg-color:  #F0F0F0;
        --dark-color: #13232f;
        --under-color: #08141e;
        --lyellow-color: #6ead3a;
        --dwhite-color: #efedef;
        --lgray-color: #ceccce;
        --dgray-color: #4c4947;
        --lblack-color: #222022;
        --text-color: #1a9367;
        --font-type: 'Raleway','Source Sans Pro', 'Arial';
        }
html	{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
	}
body	{
        min-height: 100%;
        min-width: 100%;
        background-color: var(--under-color);
        font-family: var(--font-type);
	}
header	{
	padding: 1.5em;
    	color: #1a9367;
    	background-color: var(--dark-color);
    	clear: left;
        text-align: left;
        border: 5px solid var(--under-color);
        border-radius: 15px;
	}
footer  {
        bottom: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0.5em;
        color: #606060;
        background-color: #e0e0e0;
        clear: left;
        text-align: center;
        font-size: 14px;
        font-family: var(--font-type);
        border: 5px solid var(--under-color);
        border-radius: 15px;
        }    
nav	{
        border: 5px solid var(--under-color);
        border-radius: 15px;
        width: 150%;
	height: 125%;
	float: left;
    	max-width: 220px;
    	margin-right: 0px;
    	padding: 1em;
        background-color: var(--dark-color);
        color: var(--main-bg-color);
	}
nav ul  {
    	list-style-type: none;
    	padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: left;
	}
nav ul a {
        height: 4%;
        padding: 10px 10px;
    	text-decoration: none;
        color: var(--main-bg-color);
        width: 80%;
	}
li a    {
        margin-left: 8px;
        display: block;
        color: var(--under-color);
        text-decoration: none;
        }
li a.active {
        background-color: #1a9e67;
        color: white;
        }
li a:hover:not(.active) {
        background-color: #89c4ab;
        color: white;
        }
button  {
        border: none;
        font-size: 20px;
        text-align: center;
	border-radius: 8px;
	width: 180px;
	height: 40px;
	background-color: #86af08;
        color: white;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
#main-page	{
        border: 5px solid var(--under-color);
        border-radius: 15px;
        margin-left: 4px;
        height: 100%;
	padding: 1em;
        background-color: var(--dark-color);
        overflow: hidden;
}
#welcome	{

	padding: 1em 12em;
	font-size: 20px;
	color: #1a9e67;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
.softwareValidation {
        border: 5px solid var(--under-color);
        border-radius: 15px;
        margin-left: 4px;
        height: 100%;
    	padding: 5.5em 6em 6em 10em;
        color: var(--lgray-color);
    	overflow: hidden;
        background-color: var(--dark-color);
	}
.fileDetailsSec {
        background-color: #e0e0e0;
        }
.fileDetails {
	margin-left: 0px;
	font-size: 12px;
	font-family: 'monospace','Courier','Courier New';
	color: var(--lgray-color);
	padding: 1em;
        background-color: var(--dark-color);
        }
.dropdown select {
        border: 1px solid;
        border-color: #1a9e67;
        font-size: 20px;
        text-align: center;
        padding: 0px;
        width: 180px;
        height: 40px;
        color: #1a9e67;
        background-color: var(--dark-color);
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
.dropdown:hover .dropdown-content {
        background-color: var(--dgray-color);
        }
#fname  {
        padding: 0em 1em;
        float: right;
        }
input[type="file"]  {
        display:none;
        }
label   {
        height: 10%;
        }
.file-upload {         
        border: 1px solid; 
        border-color: #1a9e67;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        width: 158px;
        height: 20px;
        color: #1a9e67;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
#imageTrust:link {
        color: #1a9e67;
        background-color: transparent;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
#imageTrust:visited {
        color: #1a9e67;
        background-color: transparent;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
#imageTrust:hover {
        color: #1a9e67;
        background-color: transparent;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
#imageTrust:active {
        color: #1a9e67;
        background-color: transparent;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Raleway','Source Sans Pro', 'Arial';
        }
.loginPage{
	background-color: var(--dark-color);
        height: 100%;
        width: 100%;
	padding:0em;
        }
input[type=text], input[type=password] {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
	text-align: center;
        }
h2	{
	text-align: center;
	color: #1a9e67;
	padding: 30px 30px;
        }
.login  {
        background-color: #86af08;
        color: white;
        border: none;
        cursor: pointer;
        width: 25%;
	text-align: center;
        }
.login:hover {
        opacity: 0.8;
        }
.cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #bbb;
        }
.container {
        padding: 16px;
        }

span.psw {
        float: none;
        padding-top: 16px;
        }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 100px) {
  span.psw {
        display: block;
        float: none;
        }
  .cancelbtn {
        width: 50%;
        }
}